@charset "ISO-8859-1";
body{
	position: relative;
	min-height: 100%;
	/* padding-bottom: 45px; */
	//
	Using
	footer
	height
	from
	example
	box-sizing
	:
	border-box;
	//
	Supported
	by
	IE8+
	as
	well
	font-family
	:
	Tahoma
	,
	Helvetica
	,
	Arial
	,
	sans-serif;
}
.banner {
	background: url('../../images/PC Header (Width 1920).png') no-repeat;
	background-size: cover;
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: 135px;
}
.logas {
	border-right: solid #ccc 2px;
	padding: 1px 0px 1px 5px !important;
	
}

.border-right {
	border-right: solid #ccc 2px;
	padding: 1px 0px 1px 5px !important;
}
.control-label{
	font-weight: 500;
	color: black;
}
.container-fluid{
	margin: 0 !important;
	padding: 0 !important;
}

.page-header{
	
	margin: 0 !important;
	padding: 0 !important;
}
.padding-header-btn{
	padding-left: 1px !important;
	padding-right: 10px !important;
}
.abc{
	margin-top: 95px;
}
.images-header{
	padding: 1px 0px 1px 5px;
	margin-left: 5px;
	
}
.images-header{
	padding-right: 10px;
}
.user-login-css {
	/* padding-top: 2.5%;
	padding-bottom: 10px;
	padding-left: 35px !important; */
	position: relative;
	max-height: 100px;
	/* z-index: 1030; */
	display: block;
}
.button-padding{
	padding-left: 1px !important;
	/* //padding-right: 10px !important; */
}
.align-button{
	padding-left: 3px;
	display: inline-block !important;
	padding-right: 1px !important;
}

.header, .main_center {
	min-width: 1440px;
}

<!--Content-->
.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #f3f3f3;
    overflow-x: hidden;
    padding-top: 10px;
    transition: 0.5s;
    min-width: 324px;
    
}

.main_flex {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}

.left-side {
	background: #f3f3f3;
	min-width: 324px;
}
.current-screen-name {
	font-size: 20px;
	text-align: left;
	color: #333333;
	font-weight: bold;
}
.span_icon_menu {
	margin-right: 10px;
	margin-left: 30px; 
}


.span_text_menu {
	font-size: 20px;
	text-align: left;
	color: #333333;
	font-weight: bold;
}

.icon-menu {
	cursor: pointer;
}

.menu_top_text_left {
	float: left;
	line-height: 40px;
}

.title-row {
	border-bottom: 2px solid gray;
	margin-bottom: 15px;
}

.btn-brower{
	background-color: #eee;
	padding-top: 6px !important;
    padding-bottom: 6px !important;
}

#noImage {
	height: 10em;
	vertical-align: middle;
}

.middle-text {
	display: inline-block;
	margin-left: -1px;
}

.middle-text-hidden {
	height: 100%;
	width: 0;
	display: inline-block;
	vertical-align: middle;
}
#imageBox{
	height: 240px;
	object-fit: scale-down;
	object-position: 0 0;
}

.input-error{
	border: 1px solid red !important;
}
.btn-error{
	border-top: 1px solid red !important;
	border-right: 1px solid red !important;
	border-bottom: 1px solid red !important;
}
