@charset "ISO-8859-1";
body{
	position: relative;
	min-height: 100%;
	/* padding-bottom: 45px; */
	//
	Using
	footer
	height
	from
	example
	box-sizing
	:
	border-box;
	//
	Supported
	by
	IE8+
	as
	well
	font-family
	:
	Tahoma
	,
	Helvetica
	,
	Arial
	,
	sans-serif;
}
.banner {
	background: url('../../images/PC Header (Width 1920).png') no-repeat;
	background-size: cover;
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: 135px;
}
.logas {
	border-right: solid #ccc 2px;
	padding: 1px 0px 1px 5px !important;
	
}

.container-fluid{
	margin: 0 !important;
	padding: 0 !important;
}

.page-header{
	
	margin: 0 !important;
	padding: 0 !important;
}
.abc{
	margin-top: 95px;
}
.images-header{
	padding: 1px 0px 1px 5px;
	margin-left: 25px;
	
}
.images-header{
	padding-right: 10px;
}
.user-login-css {
	/* padding-top: 2.5%;
	padding-bottom: 10px;
	padding-left: 35px !important; */
	position: relative;
	max-height: 100px;
	/* z-index: 1030; */
	display: block;
}
.button-padding{
	padding-left: 1px !important;
	/* //padding-right: 10px !important; */
}
.align-button{
	padding-left: 3px;
	display: inline-block !important;
	padding-right: 1px !important;
}

<!--Content-->
.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #f3f3f3;
    overflow-x: hidden;
    padding-top: 10px;
    transition: 0.5s;
    min-width: 324px;
    
}
.current-screen-name {
	font-size: 20px;
	text-align: left;
	color: #333333;
	font-weight: bold;
}
.span-icon-menu{
	line-height: 38px;
	cursor: pointer;
	padding-right: 10px;
}

.title-row {
	border-bottom: 2px solid gray;
	margin-bottom: 15px;
}

.main{
	margin-left: 10px;
}
