.text-right {
	text-align: right;
}

.no-padding-right {
	padding-right: 0;
}

.no-padding-left {
	padding-left: 0;
}


.no-border-form-control {
	border: none;
	color: black;
}

#noImage {
	height: 10em;
	vertical-align: middle;
}

.middle-text {
	display: inline-block;
	//vertical-align: middle;
	margin-left: -1px;
}

.middle-text-hidden {
	height: 100%;
	width: 0;
	display: inline-block;
	vertical-align: middle;
}

.menu_top_buttom_left {
    float: left;
    margin-top: 8px;
}

.btn-group a:VISITED {
    color: white;
}

#modalConfirmOverwrite {
    margin-top: 200px;
}

.header-btn{
	padding-right: 0;
	padding-left: 5px;
}

.width-full{
	width: 100%;
}

.btn-float-right{
	float: right;
	margin-left: 10px;
}

.btn-float-left{
	float: left;
}

.btn {
	/* padding: 4px 12px !important; */
}

.btn-del{
	float: left;
	margin-left: 0;
}

.radio-download{
	color: black !important; 
	font-weight: 700 !important;
}

.status-active{
	font-weight: normal;
	margin-left: -30px;
	margin-top: 0px;
}

.style-select{
	width: 80%;
}

.style-select-middle{
	text-align-last: center;
}

.border-error{
	border-color: red;
}